@import "~html5-reset";
@mixin gradient($startColor, $endColor, $orientation: ttob) {
	background: $startColor;
	@if $orientation == ttob {
		background: -webkit-linear-gradient(top, #{$startColor} 0%, #{$endColor} 100%);
		background: linear-gradient(to bottom, #{$startColor} 0%,  #{$endColor} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr=' #{$endColor}', GradientType=0);
	} @else if $orientation == ltor {
		background: -webkit-linear-gradient(right, #{$startColor} 0%, #{$endColor} 100%);
		background: linear-gradient(to right, #{$startColor} 0%,  #{$endColor} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr=' #{$endColor}', GradientType=1);
	}
}
$pc: 1024px;
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
html{
  font-size: 62.5%;
  body{
    @include gradient(rgb(2, 2, 58),rgb(228, 226, 245));
    font-size: 1.6em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    .container{
      width: 1024px;
      position: fixed;
      top: 30px;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .count{
        p{
          font-size: 25rem;
          color: white;
          font-weight: bold;
        }
      }
      .attention{
        color: rgb(156, 5, 5);
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        border: 2px solid;
        padding: 10px 30px;
        margin: 30px 0 0;
        @include pc {
          font-size: 2.5rem;
          margin: 0 0 150px;
        }
      }
      .logo-wrapper{
        height: 100%;
        img{
          object-fit: contain;
          @include pc {
            height: 100px;
          }
        }
      }
      .title{
        font-size: 4rem;
        font-weight: bold;
        @include pc {
          font-size: 2.8rem;
        }
      }
    }
  }
}
