@import "~html5-reset";
@mixin gradient($startColor, $endColor, $orientation: ttob) {
	background: $startColor;
	@if $orientation == ttob {
		background: -webkit-linear-gradient(top, #{$startColor} 0%, #{$endColor} 100%);
		background: linear-gradient(to bottom, #{$startColor} 0%,  #{$endColor} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr=' #{$endColor}', GradientType=0);
	} @else if $orientation == ltor {
		background: -webkit-linear-gradient(right, #{$startColor} 0%, #{$endColor} 100%);
		background: linear-gradient(to right, #{$startColor} 0%,  #{$endColor} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr=' #{$endColor}', GradientType=1);
	}
}
$tablet: 1024px;
@mixin tablet {
  @media screen and (max-width: ($tablet)) {
    @content;
  }
}
html{
  font-size: 62.5%;
  body{
    @include gradient(rgb(2, 2, 58),rgb(228, 226, 245));
    font-size: 1.6em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    @include tablet{
      overflow: auto;
    }
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .modal{
        &-layer{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($color: #000000, $alpha: 0.6);
        }
        &-contents{
          position: absolute;
          height: 500px;
          width: 700px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(243, 241, 241);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include tablet {
            width: 90%;
            height: 90%;
            padding: 20px;
          }
          label[for=time]{
            padding-bottom: 40px;
            font-weight: bold;
            font-size: 2rem;
            @include tablet{
              text-align: center;
              font-size: 1.5rem;
            }
          }
          input[type=time]{
            width: 400px;
            height: 150px;
            font-size: 8rem;
            font-weight: bold;
            background-color: rgb(243, 241, 241);
            border: solid 2px;
            text-align: center;
            margin-bottom: 100px;
            @include tablet {
              width: 100%;
              font-size: 5rem;
              padding: 10px;
            }
          }
          button{
            font-size: 2rem;
            border: solid 2px;
            padding: 15px 30px;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include tablet{
              font-size: 1.5rem;
            }
          }
        }
      }
      .modal-none{
        .modal-layer{
          display: none;
        }
        .modal-contents{
          opacity: 0;
          transition: opacity 0.8s;
          label,
          input,
          button{
            cursor: default;
          }
        }
      }
      .count{
        p{
          font-size: 25rem;
          color: white;
          font-weight: bold;
          @include tablet{
            font-size: 12rem;
          }
        }
      }
      .attention{
        color: rgb(156, 5, 5);
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        border: 2px solid;
        padding: 10px 30px;
        margin: 30px 0 0;
        @include tablet {
          font-size: 2.5rem;
          margin: 0 20px 30px;
        }
      }
      .logo-wrapper{
        height: 100%;
        img{
          object-fit: contain;
          @include tablet {
            height: 100px;
          }
        }
      }
      .title{
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        @include tablet {
          font-size: 2.8rem;
        }
      }
    }
  }
}
